/**
 * Global styles
 */

@import "tailwindcss";

@layer base{
  body {
    font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset,  !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #4b5563 !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
